@font-face {
  font-family: "Dharma Gothic E";
  src: url("/fonts/DharmaGothicE-ExBold.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Dharma Gothic E";
  src: url("/fonts/DharmaGothicE-ExLight.otf") format("opentype");
  font-weight: 300;
  font-style: light;
}
