<style>
  :root {
    /* Body fonts */
    --fonts-body: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    /* Headline fonts */
    --fonts-headlines: "Dharma Gothic E";
    /* Primary theme color */
    --primary-color: #00263E;
    /* Primary theme text color */
    --primary-text-color: #8B8A8D;
    /* Primary theme link color */
    --primary-link-color: #009EDB;
    /* Secondary color: the background body color */
    --secondary-color: #fcfaf6;
    --secondary-text-color: #4D4D4F;
    /* Highlight text color of table of content */
    --toc-highlight-text-color: #D71920;
  }
</style>
