{% extends "juice/templates/index.html" %}

{% block favicon %}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
{% endblock favicon %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css?family=Montserrat:Light,400,500,600&display=swap" rel="stylesheet">
{% endblock head %}

{% block hero %}
<script async defer src="https://buttons.github.io/buttons.js"></script>
<section class="text-center welcome">
  <h1 class="heading-text">grok biking safety, nationwide</h1>
  <h3 class="title-text">
    Technology that helps _____
  </h3>
  <p>
    <a class="github-button" href="https://github.com/PeopleForBikes/PeopleForBikes.github.io" data-size="large"
      data-show-count="true" aria-label="Star PeopleForBikes/PeopleForBikes.github.io on GitHub">Star</a>
  </p>
</section>
<img class="hero-image" style="width: 35%" src="{{ get_url(path="pfb-small.png") }}">

<div class="explore-more text" onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">Learn
  More ⇣</div>
{% endblock hero %}

{% block content %}
{{ section.content | safe }}
{% endblock content %}

{% block footer %}
<footer>
  <small class="subtext">
    Created by <a href="https://www.peopleforbikes.org/">PeopleForBikes</a>
  </small>
</footer>
{% endblock footer %}
