name: docs
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: extractions/setup-just@v1
      - name: Lint sass
        run: just lint-sass
      - name: Lint markdown
        run: just lint-md
      - name: Check spelling
        run: just lint-spelling

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: build
        uses: shalzz/zola-deploy-action@v0.17.0
        env:
          BUILD_DIR: .
          BUILD_ONLY: true

  publish:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - name: build
        uses: shalzz/zola-deploy-action@v0.17.0
        env:
          BUILD_DIR: .
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
